@model RecipesRealm.ViewModels.TagViewModel

@{
    ViewBag.Title = "Delete Tag";
}

@using (Html.BeginForm("Delete", "Tag", FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            @Html.DisplayFor(model => model.Tag_Name) @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="row mx-0">
                <h5 class="alert-warning">@ViewBag.Warning</h5>
            </div>
            <div class="row mx-0">
                <div class="card-text col-3">
                    @Html.DisplayNameFor(model => model.Tag_Name)
                </div>
                <div class="card-text col-3">
                    @Html.DisplayFor(model => model.Tag_Name)
                </div>
            </div>
            <div class="row mx-0">
                <div class="card-text col-3">
                    @Html.DisplayNameFor(model => model.Tag_Recipes)
                </div>
                <div class="card-text col-3">
                    @Html.DisplayFor(model => model.Tag_Recipes)
                </div>
            </div>
            <div class="row mx-0">
                <div class="card-text col-3">
                    <input type="submit" value="Delete" />
                </div>
            </div>
            
        </div>
    </div>
}
