@model RecipesRealm.ViewModels.TagViewModel

@{
    ViewBag.Title = "Tag Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="cell col form-group" data-name="name">
            <div class="col-form-label"> @Html.DisplayNameFor(model => model.Tag_Name)</div>
            <div class="input-group">@Html.DisplayFor(model => model.Tag_Name)</div>
        </div>
    </div>
    <div class="row">
        <div class="cell col form-group" data-name="recipes">
            <div class="col-form-label"> @Html.DisplayNameFor(model => model.Tag_Recipes)</div>
            <div class="input-group">@Html.DisplayFor(model => model.Tag_Recipes)</div>
        </div>
    </div>
</div>