@model RecipesRealm.ViewModels.TagViewModel

@{
    ViewBag.Title = "Tag Details";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Title
    </div>
    <div class="card-body">
        <div class="row mx-0">
            <div class="card-text col-6">
                @Html.DisplayNameFor(model => model.Tag_Name)
            </div>
            <div class="card-text col-6">
                @Html.DisplayFor(model => model.Tag_Name)
            </div>
        </div>
        <div class="row mx-0">
            <div class="card-text col-6">
                @Html.DisplayNameFor(model => model.Tag_Recipes)
            </div>
            <div class="card-text col-6">
                @Html.DisplayFor(model => model.Tag_Recipes)
            </div>
        </div>
    </div>
</div>
